### Lunch and Learn

In [1]:
import pandas as pd

In [4]:
df_attnd = pd.read_csv("../data/attendance_batch1.csv")
df_grade = pd.read_csv("../data/gradebook_batch1.csv")

In [6]:
df_grade.head()

,Staff NUSNET ID,Staff Name,Staff Email,Unit,Class Code,WS1,WS2,WS3,WS4,WS5,...,THA1,THA2,THA3,THA4,Project,ELQ,ICQ,THA,Total,Banding
0,pngyt,Png Yu Ting,pngyt@nus.edu.sg,Arts & Social Sciences,DI1b01,26/1/2022,9/2/2022,23/2/2022,9/3/2022,23/3/2022,...,20,7.5,7.0,0.0,35.666667,10.75075,NaN,24.5,70.917417,3
1,xinyi,Puah Xin Yi,xinyi@nus.edu.sg,Centre for Quantum Technologies,DI1b01,26/1/2022,9/2/2022,23/2/2022,9/3/2022,23/3/2022,...,20,8.0,10.0,20.0,35.666667,18.25025,NaN,38.0,91.916917,1
2,isecykc,Chung Yuk Kay Carl,isecykc@nus.edu.sg,Engineering,DI1b01,26/1/2022,9/2/2022,23/2/2022,9/3/2022,23/3/2022,...,20,10.0,10.0,20.0,20.000000,16.00050,NaN,40.0,76.000500,2
3,oshrsh,Reuben Sheela,oshrsh@nus.edu.sg,"Office of Safety, Health And Environment",DI1b01,26/1/2022,9/2/2022,23/2/2022,9/3/2022,23/3/2022,...,19,10.0,8.5,20.0,35.000000,13.50075,NaN,38.0,86.500750,1
4,ucitr,Tapasya Regmi,tapasyaregmi@nus.edu.sg,Office of the Sr VP (Campus Infrastruc),DI1b01,26/1/2022,9/2/2022,23/2/2022,9/3/2022,23/3/2022,...,17,0.0,9.5,3.0,20.000000,8.75125,NaN,19.5,48.251250,6